nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 1rem;
    background-color: #bbb;
    color: #fff;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(0, 0, 0, 0.5);
    padding: 5px;
    background-color: white;
}
footer{
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: center;
}